#userInfoContainer {
    display: flex;
    padding: 3em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#userInfoContainer > * {
    margin-bottom: 1.2em;
}

#userInfoContainer > img {
    border-radius: 300px;
    width: 100%;
    border: 2px solid #363478;
}

#userInfoContainer > h1 {
    text-align:center;
    color: #524fbb;
    font-weight: 400;
}

#userInfoContainer > p {
    text-align:center;
}

.userContactInfo {
    margin-top: 5%;
    margin-bottom: 0;
}