.navbarLink {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 1em;
}

.navbarLink::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }

.navbarLink:hover {
    background-color: #BDCDF9;
    font-weight: 600;
}

.navbarLinkSelected {
    border-top: 2px solid #363478;
    font-weight: 700;
}

.navbarLink > a {
    text-decoration: none;
    color: #092269;
}