.button-primary {
  background-color: #3c84ff;
  padding: 1em;
  border: 0px;
  color: #fff;
  transition: 0.3s;
}

.button-primary:hover {
  background-color: #306dd6;
  transition: 0.3s;
}

.button-secondary {
  background-color: #ff9f38;
  padding: 1em;
  border: 0px;
  color: #fff;
  transition: 0.3s;
}

.button-secondary:hover {
  background-color: #e08c31;
  transition: 0.3s;
}

.button-fail {
  background-color: #ff3c3c;
  padding: 1em;
  border: 0px;
  color: #fff;
  transition: 0.3s;
}

.button-fail:hover {
  background-color: #d63030;
  transition: 0.3s;
}
