.questionBox {
    display: flex;
    padding: 1.2em 2em;
    color: #333F50;

}

.questionDescContainer {
    padding: 2em;
    text-align:center;
    font-size: 0.7em;
    background-color: #F2F2F2;
    margin-right: 16px;
}

.questionDescContainer > h3 {
    font-size: 1.3em;
}


.questionInfoContainer {
    background-color: #E0E9F8;
    width: 100%;
    padding: 1.5em;
    font-size: 0.9em;
}

.questionTitle {
    font-size: 1em;
    margin: 5px 5px 5px 5px;
}

.questionDescContainerAnswered {
    background-color: #E2F0D9 !important;
}

.questionButtonAnswered {
    background-color: #E2F0D9 !important;
}

.questionButtonError {
    background-color: #f0d9d9 !important;
}

input[type=text],
input[type=number] {
    margin-top: 15px;
}