.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pageContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  background-color: #E6EAF6;
  position: absolute;
  height: 100%;
  width: 100%;
}

#contentContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.3fr 1fr;
  margin: 2% 5%;
  background-color: #fff;
}

#contentContainer > aside {
  border: 2px solid #363478;
  padding: 5% 2%;
}



#contentContainer > main {
  border: 2px solid #363478;
  border-left: 0px;
}

header {
  background-color: #fff;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 4em;
  border-bottom: 2px solid #363478;
  display: flex;
  flex-direction: row;
}


#logotipoContainer {
  height: 100%;
  width: 12%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logotipoContainer > img {
  width: 90%;
  height: 70%;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

